
<div class ="container">
	<nav class="menu">
		<a href="#" class="menu-item">
			<span class="material-icons">sports_esports</span>
			<span class="menu-item-label">Games</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">local_see</span>
			<span class="menu-item-label">Images</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">movie</span>
			<span class="menu-item-label">Movies</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">store_mall_directory</span>
			<span class="menu-item-label">Store</span>
		</a>
	</nav>
</div>	